<h1>Opcion</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Opcion</th>
            <td>{{ entity.opcion }}</td>
        </tr>
        <tr>
            <th>Controller</th>
            <td>{{ entity.controller }}</td>
        </tr>
        <tr>
            <th>Function</th>
            <td>{{ entity.function }}</td>
        </tr>
        <tr>
            <th>Orden</th>
            <td>{{ entity.orden }}</td>
        </tr>
        <tr>
            <th>Tipoestado</th>
            <td>{{ entity.tipoestado }}</td>
        </tr>
        <tr>
            <th>Tipoestadoborrado</th>
            <td>{{ entity.tipoestadoborrado }}</td>
        </tr>
        <tr>
            <th>Creadoporid</th>
            <td>{{ entity.creadoporId }}</td>
        </tr>
        <tr>
            <th>Creadoel</th>
            <td>{{ entity.creadoel|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Actualizadoporid</th>
            <td>{{ entity.actualizadoporId }}</td>
        </tr>
        <tr>
            <th>Actualizadoel</th>
            <td>{{ entity.actualizadoel|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('opcion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('opcion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('opcion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
